{%extends 'base.html'%}
{%load static%}

  {%include 'navbar.html'%}
  {% block content %}


    <h1 >{{category.name}}</h1>
     <div class="productlists">
      {% for product in products%}
      <div class="indproduct">
        <div class="imags"><img src="{{product.image.url}}" alt=""></div>
        <h4>{{product.name}}</h4>
        <h3>Rs {{product.price}}</h3>
        <div class="buttons">
          <a href="{% url 'product' product.id %}" style="background-color: #F28C1F; color: aliceblue;text-decoration: none;padding: 10px;width:100%;text-align: center;">See More</a>  
        </div>
      </div>

      {%endfor%}
{% endblock %}