{%extends 'base.html'%}
{%load static%}

  {%include 'navbar.html'%}
  {% block content %}
  <br>
  <h2>Profile Details </h2>
      <p>Name: {{ user.first_name }} {{user.last_name}}</p>
      <p>Email: {{ user.email}}</p>
  <hr>
  <h2>Orders</h2><br>
  <div class="productlists">
    {% if orders%}
   {% for order in orders%}
   <div class="indproduct">
     <div class="imags"><img src="{{order.product.image.url}}" alt=""></div>
     <h4>{{order.product.name}}</h4>
     <h3>Quantity: {{order.quantity}}</h3>
     <h3>Date: {{order.date}}</h3>
     <h3>Status: {{order.order_status}}</h3>
     <h3>Payment: {{order.payment_type}}</h3>
    
   </div>

   {%endfor%}
   {% else %}
  </div>
   <h3>No orders placd yet</h3>
   {% endif %}
{% endblock %}