
{%load static%}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top position-fixed fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="padding-right: 40px;"><img src="{%static 'assets/blacklogo@4x.png'%}" alt="" style="height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{%url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'categories'%}">Categories</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'cart_summary'%}">Cart </a>
          </li>
          {% if user.is_authenticated and user.is_superuser %}

          {% else %}
         
          {% if user.is_authenticated and not user.is_superuser %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myorders' %}">Profile</a>
        </li>
         {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Sign up</a>
          </li>
         {% endif %}
         {% endif %}
      
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'findgift'%}" style="background-color: rgb(0, 0, 0);border-radius: 10px; color: aliceblue; padding: 10px 15px 10px 15px;">Find a gift </a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="get" action="{%url 'searchproduct'%}">
          <input class="form-control me-2" type="search" name="query" placeholder="Type to search ..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="background-color: black; color: aliceblue;">Search</button>
        </form>
      </div>
    </div>
  </nav>