{%extends 'base.html'%}
{%load static%}

  {%include 'navbar.html'%}
  {% block content %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h3>{{product.price}}</h3>
          <p class="card-text">{{product.description}}</p><br>
          {%if product.stocks < 1 %}
        <h3 style="color: red;">Product Out Of Stock</h3>
        {% endif %}
          <h3>Quantity: </h3>
          <input type="number" min="1" max="20" id="quantity"><br><br>
          <h3 id="stocks" data-stocks="{{product.stocks}}"></h3>

          <a href="" style="background-color: rgb(22, 22, 22); color: aliceblue;text-decoration: none;padding: 10px;width:50%;text-align: center;"id="add-cart" data-product-id="{{product.id}}">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).on('click','#add-cart',function(e){
      e.preventDefault();
      product_stocks=$('#stocks').data('stocks');
      product_quantity=$('#quantity').val();
      console.log(product_quantity)
      console.log(product_stocks)
      if(product_stocks<product_quantity)
      {
        alert("Quantity greater than available stock")
      }
      else{
        $.ajax({
        type:'POST',
        url: `{% url 'cart_add' %}` ,
        data:{
          product_id:$(this).data('product-id'),
          product_quantity:$('#quantity').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action:'post'
        },

        success:function(json){
          console.log(json)
          alert("Added to cart successfully")
          window.location.href = "/cart/";
        },
        error:function(xhr,errmsg,err){

        }

      });
      }
     
    })
  </script>
{% endblock %}