<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="assets/Logo@4x.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <title> Upahar || Find the best Gift </title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top position-fixed fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="padding-right: 40px;"><img src="assets/blacklogo@4x.png" alt="" style="height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="destination.html">Categories</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Cart </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="background-color: rgb(0, 0, 0);border-radius: 10px; color: aliceblue;">Find a gift </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Type to search ..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="background-color: black; color: aliceblue;">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="mainsec" style="margin: 10px">
    <h1 >Category Name</h1>
     <div class="productlists">

      <div class="indproduct">
        <div class="imags"><img src="assets/banner2.jpg" alt=""></div>
        <h4>Product Na</h4>
        <h3>Price</h3>
        <div class="buttons">
          <button>Book Now</button>
          <button style="background-color: black;">Add to Cart</button>
        </div>
      </div>

      <div class="indproduct">
        <div class="imags"><img src="assets/banner2.jpg" alt=""></div>
        <h4>Product Na</h4>
        <h3>Price</h3>
        <div class="buttons">
          <button>Book Now</button>
          <button style="background-color: black;">Add to Cart</button>
        </div>
      </div>

      <div class="indproduct">
        <div class="imags"><img src="assets/banner2.jpg" alt=""></div>
        <h4>Product Na</h4>
        <h3>Price</h3>
        <div class="buttons">
          <button>Book Now</button>
          <button style="background-color: black;">Add to Cart</button>
        </div>
      </div>

      <div class="indproduct">
        <div class="imags"><img src="assets/banner2.jpg" alt=""></div>
        <h4>Product Na</h4>
        <h3>Price</h3>
        <div class="buttons">
          <button>Book Now</button>
          <button style="background-color: black;">Add to Cart</button>
        </div>
      </div>

      <div class="indproduct">
        <div class="imags"><img src="assets/banner2.jpg" alt=""></div>
        <h4>Product Na</h4>
        <h3>Price</h3>
        <div class="buttons">
          <button>Book Now</button>
          <button style="background-color: black;">Add to Cart</button>
        </div>
      </div>

      <div class="indproduct">
        <div class="imags"><img src="assets/banner2.jpg" alt=""></div>
        <h4>Product Na</h4>
        <h3>Price</h3>
        <div class="buttons">
          <button>Book Now</button>
          <button style="background-color: black;">Add to Cart</button>
        </div>
      </div>

     </div>
  </div>
    
  </div> 
</body>
</html>